
## Visual Studio ##
.vs/
[Oo]bj/
[Bb]in/
*.user
*.suo
*.userosscache
*.sln.docstates

## .NET Core ##
project.lock.json
project.fragment.lock.json
artifacts/

## Other ##
thumbs.db
.DS_Store
build.log
*.log
pp.xml
pp-android.xml
pp-client.xml
restore.log